body {
margin: 0;
background-color: rgb(2, 2, 30);
}

header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 57, 0.8);
}
.australia {
    object-fit: contain;
    padding-left: 20px;
    height: 20vh;
    width: 20vh;
}

h1 {
    color:blanchedalmond;
    /* padding-left: 2px; */
    font-size: xxx-large;
}

h2 {
    color:blanchedalmond;
    padding-left: 2px;
    font-size: xx-large;
}

#newImg {
    margin-left: 36px;
    margin-top: 18px;
    margin-bottom: 36px;
    padding-right: 5px;
    padding-bottom: 5px;
    width:150px;
    height:150px;
    border-radius: 15%;
    border-style: inset;
    border-color:blanchedalmond
    
}
#imgcontainer {
    /* height: 70vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-repeat:no-repeat; */
    /* background-size: fill; */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
   
}
.d_none {
    display: none;
}

#singleView {
    height: 360px;
    width: 300px;
    border-radius: 5%;
    margin-top: -180px;
    margin-left: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(10px);
    /* background-color:blanchedalmond; */
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 8px 32 px rgba(0, 0, 0, 0.3);
}

#singleImg {
    height: 36px;
    width: 36px;
}
label {
background-color: blanchedalmond;
text-align: center;
}

.button {
    height: 24px;
    width: 24px;
    border-radius: 50%;

}

footer {
    height: 20vh;
    background-color: rgba(1, 1, 57, 0.8);
}

.rotate {
    transform: rotate(45deg);
    height: 36px;
    width: 36px;
}